# API Gateway 설정
FACE_SERVICE_URL=http://face-detection-service:8001
OBJECT_SERVICE_URL=http://object-detection-service:8002
SIMILARITY_SERVICE_URL=http://image-similarity-service:8003

# 모델 경로 설정
FACE_MODEL_PATH=models/blaze_face_short_range.tflite
OBJECT_MODEL_PATH=models/efficientdet_lite0.tflite
SIMILARITY_MODEL_PATH=models/mobilenet_v3_small.tflite

# 서비스 포트 설정
API_GATEWAY_PORT=8000
FACE_SERVICE_PORT=8001
OBJECT_SERVICE_PORT=8002
SIMILARITY_SERVICE_PORT=8003
